@import url("https://api.fontshare.com/v2/css?f[]=striper@400&f[]=chillax@400&f[]=stardom@400&f[]=space-grotesk@300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gaegu&family=Gotu&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap");

/* bebas neue */
@font-face {
  font-display: block;
  font-family: safiro-regular;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/safiro-regular.woff2) format("woff2"),
    url(/fonts/safiro-regular.woff2) format("woff");
}
@font-face {
  font-display: block;
  font-family: safiro;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/safiro-regular-i.woff2) format("woff2"),
    url(/fonts/safiro-regular-i.woff2) format("woff");
}
@font-face {
  font-family: "praisejah";
  src: url("/fonts/ROMANTIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nav";
  src: url("/fonts/Glamour.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "meo";
  src: url("/fonts/Glamour.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-display: block;
  font-family: third-font;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Helvetica.ttf) format("truetype");
}

@font-face {
  font-display: block;
  font-family: second-font;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/lovelace-italic.ttf) format("truetype");
}

@font-face {
  font-display: block;
  font-family: first-font;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PSFournierTry-Light-BF674684598711f.otf) format("opentype");
}

/* Custom font for the about page title */
@font-face {
  font-family: "about-title";
  src: url("/fonts/Tempting - PERSONAL USE ONLY.ttf") format("truetype");
  font-weight: 50;
}

@font-face {
  font-family: "surname";
  src: url("/fonts/Glamour.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "scrolling-text";
  src: url("/fonts/Baristo.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "kom";
  src: url("/fonts/candlescript/Candlescript Demo Version.otf")
    format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "praisejah-name";
  src: url("/fonts/Aston Script.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "beauty-name";
  src: url("/fonts/candlescript/Candlescript Demo Version.otf")
    format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "name-roman";
  src: url("/fonts/christmas_gladness/Christmas Gladness.otf")
    format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "details";
  src: url("/fonts/merchant_copy/Merchant Copy.ttf") format("truetype");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #566246;
  scroll-behavior: smooth;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Loading Screen Styles */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #566246;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(219, 145, 151, 0.3);
  border-top: 3px solid #db9197;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen p {
  color: #d8dad3;
  margin-top: 16px;
  font-family: safiro-regular, sans-serif;
}
