.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #566246; /* Black background */
  margin-top: -10px;
}

.intro-text {
  font-size: 5rem;
  font-weight: 900;
  color: #33658A; /* White text color */
  display: inline-block;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Barlow Condensed", system-ui;
}
